@page "/cart"
@inject ICartService CartService
@inject IOrderService OrderService
<PageTitle>Shopping Cart</PageTitle>

@if (cartProducts == null) {
    <span class="spinner-border spinner-border-sm"></span>
    <span>@message</span>
}
else if (cartProducts.Count <= 0) {
    <span>@message</span>
}
else if (orderPlaced) {
    <span>订单已下达，谢谢！你可以在<a href="orders">这里</a>查看你的订单</span>
}
else {
    <div>
        @foreach (var product in cartProducts) {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@product.ImageUrl" class="image" alt="@product.Title"/>
                </div>
                <div class="name">
                    <h5>
                        <a href="/product/@product.ProductId">@product.Title</a>
                    </h5>
                    <span>@product.ProductType</span><br/>
                    <input type="number" value="@product.Quantity" @onchange="e => UpdateQuantity(e, product)" class="form-control input-quantity" min="1"/>
                    <button class="btn btn-delete" @onclick="() => RemoveItemFromCart(product.ProductId, product.ProductTypeId)">
                        删除
                    </button>
                </div>
                <div class="cart-product-price">$@(product.Price * product.Quantity)</div>
            </div>
        }
        <div class="cart-product-price">
            合计: ￥@cartProducts.Sum(p => p.Price * p.Quantity)
        </div>
        <button @onclick="PlaceOrder" class="btn alert-success float-end mt-1">结算</button>
    </div>
}

@code {
    List<CartProductResponse>? cartProducts = null;
    string message = "正在加载...";
    bool orderPlaced = false;

    protected override async Task OnInitializedAsync() {
        orderPlaced = false;
        await LoadCart();
    }

    async Task RemoveItemFromCart(int productId, int productTypeId) {
        await CartService.RemoveItemFromCart(productId, productTypeId);
        await LoadCart();
    }

    async Task LoadCart() {
        await CartService.GetCartItemsCount();
        cartProducts = await CartService.GetCartProducts();
        if (cartProducts == null || cartProducts.Count == 0) {
            message = "你的购物车是空的，赶快选购商品吧";
        }
    }

    async Task UpdateQuantity(ChangeEventArgs e, CartProductResponse product) {
        product.Quantity = int.Parse(e.Value!.ToString()!);
        if (product.Quantity < 1) {
            product.Quantity = 1;
        }
        await CartService.UpdateQuantity(product);
    }

    async Task PlaceOrder() {
        await OrderService.PlaceOrder();
        orderPlaced = true;
        await CartService.GetCartItemsCount();
    }

}